@import "tailwindcss";

@utility no-scrollbar {
  @apply [&::-webkit-scrollbar]:hidden [scrollbar-width:none];
}

@layer utilities {
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }

  .hover\:animate-zoomin:hover {
    animation: zoom-in-zoom-out 0.4s ease-in-out;
  }
}

:root {
  --background: #fbeeee;
  --foreground: #171717;
}

@theme {
  --color-primary: #e8505e;
  --color-lime: #d5fdad;

  --breakpoint-lg2: 1000px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Barlow, Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.animate-fadein-hero {
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.animate-fadein {
  animation: fadeInAnimation ease-in-out 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.animate-fadeout {
  animation: fadeInAnimationOut ease-in-out 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimationOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
